.complex{
  padding-top: 1.5rem;
  border-top: solid 1px #eaebf0; /* полоса сверху */
}
.complex-name{
  margin: 0; /* ставит впритык */
  font-family: 'Philosopher', sans-serif; /* выбор шрифта */
  font-weight: 700; /* толщина шрифта */
}
.complex-address{
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6; /* Цвет шрифта */
  line-height: 1.57; /* высота строки */
}
.favourite-btn{
  padding: 0.5rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.0;
  color: #00779a;
  text-align: center;
  background-color: #ffffff;
  border: solid 1px #e0e0e1;
  border-radius: 2px;
  cursor: pointer;
}
.gallery-stripe{
  display: flex;
}
.photo-count-btn{
  position: absolute;
  margin-top: -2.5rem;
  padding: 0.5rem 1rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 10px;
  font-weight: 300;
  line-height: 1.0;
  color: #ffffff;
  border: none;
  border-radius: 2px;
  background-color: #00779a;
}
.complex-info{
  display: flex; /* блоки тянутся */
  flex-direction: row; /* блоки тянутся в ряд */
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.complex-info-block{
  margin-right: 4rem; /* блоки внутри идут с отступом 4rem */
}
.complex-info-block-title{
  margin: 0;
  font-family: Philosopher, sans-serif;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
}
.complex-info-block-description{
  display: block; /* текст занимает всю ширину строки */
  margin-top: 0.6rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.57;
  color: #a9afb6;
}
.complex-allinfo{
  padding-bottom: 1.5rem;
}
.complex-details-title {
  margin: 0;
  margin-bottom: 0.5rem;
  padding-top: 2.3rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #3e4247;
  border-top: solid 1px #e0e0e1; /* полоса сверху */
}
.complex-details-list{
  padding-top: 0.5rem;
}
.complex-details-key {
  margin-bottom: 0.7rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.38;
  color: #a9afb6;
}
.complex-details-value {
  margin-left: 0;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  color: #3e4247;
}
.complex-description {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}
.complex-description-title {
  margin: 0;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
}
.complex-description-text {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-size: 16px;
  line-height: 1.58;
  color: #3e4247;
}
.complex-description-text:last-child {
  margin-bottom: 0;
}
.complex-services {
  padding-bottom: 3.5rem;
}
.complex-services-title {
  margin: 0;
  margin-bottom: 0.9rem;
  padding-top: 2.15rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  border-top: solid 1px #eaebf0; /* полоса сверху */
}
.complex-services-item {
  margin-bottom: 0.5rem;
  font-size: 16px;
  line-height: 1.38;
  color: #3e4247;
}
.complex-offers {
  padding-top: 4.1rem;
  padding-bottom: 3.75rem;
  background-color: #f4f5f9;
}
.complex-offers-title {
  margin: 0;
  margin-bottom: 1.55rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.12;
  color: #3e4247;
  text-align: center;
}
.complex-offers-card {
  padding: 1.5rem 2rem;
  background-color: #ffffff;
}
.complex-offers-card-title {
  margin: 0;
  margin-bottom: 1.4rem;
  font-family: Philosopher, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  color: #3e4247;
}
.complex-offers-card-key {
  display: block;
  margin: 0;
  margin-bottom: 0.6rem;
  font-size: 16px;
  line-height: 1.38;
  color: #a9afb6;
}
.complex-offers-card-value {
  display: block;
  margin: 0;
  margin-top: 1.5rem;

  font-size: 16px;
  line-height: 1.38;
  color: #3e4247;
}
.offers-btn {
  display: block;
  margin: 0 auto;
  margin-top: 2.2rem;
  padding: 0.75rem 2rem;
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.0;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.complex-landmark {
  padding-top: 4rem;
  padding-bottom: 13.5rem;
  margin-bottom: 13.5rem;
  background-color: #3e4247;
  color: #ffffff;
}
.complex-landmark-name {
  margin: 0;
  margin-top: 7.45rem;
  margin-bottom: 3.1rem;
  font-family: Philosopher, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #a9afb6;
}
.complex-landmark-title {
  margin: 0;
  margin-bottom: 3.2rem;
  font-family: Philosopher, sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.25;
  color: #ffffff;
}
.complex-landmark-link {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  color: #00779a;
  text-decoration: none;
}
.complex-landmark-map {
  position: absolute;
  margin-top: 3.8rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.complex-landmark-nearby {
  position: absolute;
  width: 583px;
  margin-top: 3.8rem;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}
.complex-landmark-nearby-item {
  padding: 1.5rem;
  padding-bottom: 1.57rem;
  box-sizing: border-box;
  border-bottom: solid 1px #e0e0e1;
}
.complex-landmark-nearby-item:last-child {
  border-bottom: 0;
}
.complex-landmark-nearby-place {
  display: block;
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.38;
  color: #3e4247;
}
.complex-landmark-nearby-distance {
  display: block;
  margin: 0;
  font-size: 16px;
  line-height: 1.38;
  color: #a9afb6;
}
