body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #3e4247;
  background-color: #ffffff;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  -webkit-line-break: after-white-space;
}
.header {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  background-color: #ffffff;
}
.header-logo {
  height: 24px;
}
.main-nav {
  text-align: right;
}
.main-nav-link {
  margin-right: 1.5rem;
  font-size: 1rem;
  color: #3e4247;
  text-decoration: none;
}
.main-nav-link:last-child {
  margin-right: 0;
}
.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #111111;
  color: #a9afb6;
}

.footer-title {
  margin: 0;
  margin-bottom: 0.9rem;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  color: #646971;
}
.footer-company-text {
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 300;
  color: #a9afb6;
}
.footer-company-text:last-child {
  margin-top: 1.5rem;
}
.footer-nav {
  padding-top: 1rem;
  border-top: solid 2px #3e4247;
}
.footer-link {
  display: block;
  margin-bottom: 1rem;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
}
.footer-link-last {
  margin-top: 1.5rem;
}
.footer-disclaimer {
  padding-top: 4.5rem;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.6;
  color: #a9afb6;
}
