.body {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  background-image: url('./img/background-1.png');
  background-repeat: repeat;
	}
.header {
  background-color: white;
}
.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.compasslogo {
  width: 179px;
  height: 24px;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  padding-left: 7.5rem;
}
.headerlinks {
  padding-right: 7.5rem;
}
.headerlink {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  padding-left: 32px;
  font-size: 16px;
  color: #3e4247;
  text-decoration: none;
}
.banner {
  background-color: #161616;
  display: flex;
  justify-content: center;
}
.bannerimage {
  width: 419px;
  height: 131px;
  padding-top: 80px;
  padding-bottom: 80px;
}





.development-section {
  padding-top: 64px;
  padding-bottom: 64px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.development-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #3e4247;
}

.development-description {
  margin: 0;
  line-height: 1.5;
  color: #3e4247;
}

.development-contact-button {
  margin-top: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 32px;
  padding-left: 32px;
  border: 0;
  text-align: center;
  color: #fff;
  background: #000;
  border-radius: 2px;
  cursor: pointer;
}

.content {
  display: flex;
  justify-content: center;
}
.complex-link {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 48px;
  text-decoration: none;
  background: #fff;
}

.complex-link:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.complex-photo {
  width: 491px;
  height: 350px;
}

.complex-info {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  padding-right: 86px;
  border-bottom: 2px solid #646971;
}

.complex-city {
  margin: 0;
  font-family: Monaco, Menlo, Consolas, monospace;
  color: #646971;
  text-transform: uppercase;
}

.complex-title {
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 2.5rem;
  line-height: 1.4;
  color: #000000;
}

.complex-description {
  width: 591px;
  margin: 0;
  line-height: 1.5rem;
  color: #3e4247;
}


.footer {
  margin-top: 6rem;
  background: #111111;
  padding-top: 1rem;
  padding-left: 7.5rem;
  padding-right: 7.5rem;
  display: flex;
  justify-content: center;
}
.footerborders {
  width: 600px;

}

.footer-caption {
  font-family: 'Fira Sans', sans-serif;
  font-weight: bold;
  color: #646971;
  font-size: 0.9rem;
}

.footer-text {
  color: #a9afb6;
  font-size: 0.9rem;
  font-weight: lighter;
  margin-top: -1rem;
  line-height: 2rem;
}

.footer-col {
  margin-top: 1rem;
}

.footer-list {
  line-height: 2rem;
  margin-top: -1rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 300;
}

.footer-border-bottom {
  border-top: 2px solid #3e4247;
  padding-left: 0px;
  margin-top: 1rem;
}

.copyright {
  color: #a9afb6;
  font-size: 0.7rem;
  font-weight: lighter;
  line-height: 1.2rem;
  margin-top: 4.6rem;
  margin-bottom: 2rem;
  padding-left: 0px;
}
